<div class="flex flex-col">
  <div id="navbar" class="flex justify-center my-2">
    <p-card styleClass="w-[99dvw]">
      <div class="flex flex-col sm:flex-row items-center justify-between p-4">
        <h1 class="text-xl font-bold">O tal do Grafo</h1>
        <div class="flex flex-row items-center space-x-4">
          <input
            pInputText
            type="text"
            placeholder="Normal"
            class="border rounded px-2 py-1"
          />
          <a
            href="https://github.com/Lillo-M/Grafo-na-hora"
            target="_blank"
            class="text-black hover:text-gray-700 text-xl"
            title="Ver no GitHub"
          >
            <i class="pi pi-github"></i>
          </a>
          <app-config-modal></app-config-modal>
        </div>
      </div>
    </p-card>
  </div>
  <div id="filter" class="w-[99dvw] self-center">
    <app-filter-button [text]="'Concluídas'"></app-filter-button>
    <app-filter-button [text]="'Optativas'"></app-filter-button>
    <app-filter-button [text]="'Pendentes'"></app-filter-button>
    <app-filter-button [text]="'TrilhaA'"></app-filter-button>
    <app-filter-button [text]="'TrilhaB'"></app-filter-button>
    <app-filter-button [text]="'TrilhaB'"></app-filter-button>
    <app-filter-button [text]="'TrilhaB'"></app-filter-button>
    <app-filter-button [text]="'TrilhaB'"></app-filter-button>
    <app-filter-button [text]="'TrilhaB'"></app-filter-button>
    <app-filter-button [text]="'TrilhaB'"></app-filter-button>
    <app-filter-button [text]="'TrilhaB'"></app-filter-button>
    <app-filter-button [text]="'TrilhaB'"></app-filter-button>
  </div>
  <div id="grafo">
    <app-graph (showDrawer)="showDisciplineInfo()"></app-graph>
    <app-graph-node
      discipline="Cálculo 3"
      period="3"
      (clicked)="showDisciplineInfo()"
    ></app-graph-node>
  </div>
  <p-drawer header="Física 2" [(visible)]="drawerVisible" position="right">
    <div class="flex items-center gap-2">
      <label for="optativaCB" class="cursor-pointer">Optativa</label>
      <p-checkbox inputId="optativaCB" [binary]="true"></p-checkbox>
    </div>
        <div class="flex items-center gap-2">
      <label for="chsText" class="cursor-pointer">Carga Horária Semanal</label>
      <p-checkbox inputId="chsText" [binary]="true"></p-checkbox>
    </div>
    <p>Pré-requisitos</p>
    <ul id="pre-requisites-list">
      <li>
        Cálculo 1
      </li>
      <li>
        Física 1
      </li>
    </ul>

    <p-button label="Marcar como concluída" variant="text" severity="help" />
  </p-drawer>
  <app-feedback-modal></app-feedback-modal>
</div>
