<p-button (click)="showDialog()" label="{{ buttonLabel }}" />

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [style]="{ width: '25rem' }"
>
  <ng-template pTemplate="header">
    <h2 class="text-lg font-semibold">Feedback</h2>
  </ng-template>

  <form [formGroup]="formGroup" class="flex flex-col gap-4">
    <textarea
      id="feedbackText"
      rows="5"
      pTextarea
      formControlName="text"
      class="w-full border rounded p-2"
    ></textarea>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      label="Enviar"
      [disabled]="formGroup.invalid"
      (click)="submitFeedback()"
      severity="primary"
    />
  </ng-template>
</p-dialog>
